---
import H1 from '../components/H1.astro';
import H1Specs from '../components/H1specs.astro';
import Parrafo from '../components/Parrafo.astro';
import Seccion2 from '../components/Seccion2.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout
  title="Condiciones del Servicio - Santifer iRepair"
  description="Conozca las condiciones y términos de servicio para las reparaciones en Santifer iRepair, incluyendo detalles sobre garantías y procedimientos"
  slugTotal="/condiciones-servicio"
>
  <Seccion2 modoLegal={true}>
    <H1Specs>Condiciones del Servicio</H1Specs>
    <div class="h-8"></div>
    <h2 class="text-xl font-semibold mb-2">Promociones</h2>
    <Parrafo class="mb-2">
      Sólo podrá haber una promoción activa por reparación:
    </Parrafo>
    <Parrafo class="mb-2">
      - Segunda reparación con descuento adicional, en la misma intervención de
      reparación del terminal
    </Parrafo>
    <Parrafo class="mb-2"> - Bonos de descuentos a clientes. </Parrafo>
    <Parrafo class="mb-2"> - Promociones temporales </Parrafo>
    <Parrafo class="mb-2">
      - El servicio de mensajería promocionado es gratuito para reparaciones
      superiores a 50 € para recogidas y entregas de terminales en Sevilla desde
      el CP 41001 al 41013 y 41018 que finalmente el cliente decida reparar una
      vez diagnosticado, de lo contrario el servicio de recogida tendría un
      coste de 9 €.
    </Parrafo>
    <Parrafo class="mb-2">
      En caso de darse las condiciones para canjear más de un tipo, siempre se
      aplicará la de mayor descuento para el cliente. El equipo de Santifer
      iRepair podrá decidir aplicar alguna promoción adicional a las existentes,
      si así lo estima oportuno.
    </Parrafo>
    <Parrafo class="mb-2">
      Las promociones serán físicamente confirmadas en tienda en caso de haber
      algún error tipográfico.
    </Parrafo>
    <Parrafo class="mb-2">
      La promoción "Regalo de Pack de Seguridad al reparar tu móvil" consiste en
      un cristal templado y una funda a elección del equipo de Santifer iRepair,
      en caso de no haber ese modelo exacto en el momento de canje por parte del
      cliente, no se podrá canjear ni por otro tipo ni por dinero. En caso de no
      haber en existencias en el momento de solicitud por parte del cliente, se
      avisará al cliente cuando nos llegue a nuestra tienda.
    </Parrafo>
    <Parrafo class="mb-2"> La promoción One Day Repair ya no existe. </Parrafo>
  </Seccion2>

  <Seccion2 modoLegal={true} class="mb-8" bgColor="bg-stone-100">
    <h2 class="text-xl font-semibold mb-2">
      Condiciones de reparación y/o del servicio
    </h2>
    <Parrafo class="mb-2">
      El diagnóstico tiene un coste de 19€ (móviles) y 29€ (tablets y
      smartwatches), en caso que el cliente no acepte el presupuesto de
      reparación.
    </Parrafo>
    <Parrafo class="mb-2">
      La garantía es de seis meses (a menos que se especifique una duración
      diferente en la descripción de la reparación en la parte superior del
      ticket) desde la fecha de la reparación por posible defecto electrónico de
      la propia pieza, en caso de un buen uso del terminal por parte del
      cliente. El contacto con líquidos, roturas del terminal o manipulación del
      mismo por terceros anula cualquier garantía de reparación anterior. Es
      imprescindible presentar el ticket para validar dicha garantía.
    </Parrafo>
    <Parrafo class="mb-2">
      La manipulación de un terminal por terceros a posteriori de haber sido
      reparado por Santifer iRepair anula cualquier garantía anterior de
      reparación. Santifer iRepair se reserva el derecho de abrir o no el
      terminal si ha sido manipulado a posteriori por terceros.
    </Parrafo>
    <Parrafo class="mb-2">
      La apertura del terminal puede hacer perder las propiedades de protección
      ante líquidos que pudiera tener el terminal.
    </Parrafo>
    <Parrafo class="mb-2">
      La garantía en reparaciones microelectrónicas en placa base es de tres
      meses desde la fecha de reparación, por un defecto en componente
      electrónico instalado. El contacto con líquidos, roturas del terminal o
      manipulación del mismo por terceros anula cualquier garantía de reparación
      anterior. Es imprescindible presentar el ticket para validar dicha
      garantía.
    </Parrafo>
    <Parrafo class="mb-2">
      Si el cliente quiere el componente averiado nos lo tiene que solicitar
      antes de recoger el terminal, por defecto se desecha.
    </Parrafo>
    <Parrafo class="mb-2">
      La garantía por defectos estéticos inferiores a 3mm en los componentes
      instalados sólo entrarían en los primeros 15 días desde la fecha de
      reparación.
    </Parrafo>
    <Parrafo class="mb-2">
      Los cristales templados, protectores de pantalla o protectores de hidrogel
      vendidos y/o instalados por Santifer iRepair añaden una protección
      adicional al terminal, pero no hacen al terminal indestructible ni inmune
      a roturas o daños, ni a la pantalla ni a los componentes del teléfono. Por
      tanto, ante una caída, golpe o presión, puede pasar:
    </Parrafo>
    <Parrafo class="mb-2">
      - Que no se rompa / arañe / despegue el templado / protector / hidrogel ni
      ningún componente del terminal.
    </Parrafo>
    <Parrafo class="mb-2">
      - Que se rompa / arañe / despegue el templado / protector / hidrogel pero
      que no se dañe / arañe ningún componente del terminal.
    </Parrafo>
    <Parrafo class="mb-2">
      - Que no se rompa / arañe / despegue el templado / protector / hidrogel
      pero que se dañe / arañe algún componente del terminal.
    </Parrafo>
    <Parrafo class="mb-2">
      - Que se rompa / arañe / despegue el templado / protector / hidrogel y que
      se dañe / arañe algún componente del terminal.
    </Parrafo>
    <Parrafo class="mb-2"> Por tanto: </Parrafo>
    <Parrafo class="mb-2">
      - Si el templado / protector / hidrogel instalado en un terminal se rompe
      / araña / despega, no será objeto de la presente garantía.
    </Parrafo>
    <Parrafo class="mb-2">
      - Si el terminal se daña con un templado / protector / hidrogel instalado,
      no será objeto de la presente garantía.
    </Parrafo>
    <Parrafo class="mb-2">
      Si el cliente no está conforme con la reparación realizada en los 15 días
      naturales siguientes desde la fecha de reparación del terminal, el cliente
      tiene derecho a una devolución parcial de la reparación y servicios
      prestados, descontándose la mano de obra invertida en el terminal, tanto
      en la reparación inicial como en revertir al estado anterior, retirando
      los componentes instalados y sustituyéndolos por los del cliente (si no se
      han desechado o el cliente los tiene en su posesión), siempre que los
      componentes que Santifer iRepair instaló no tuvieran ningún síntoma de uso
      o defecto estético que impidieran su uso (como por ejemplo, arañazos en
      una pantalla o en un componente exterior del terminal). En caso de que
      dichos componentes tuvieran síntomas de uso, no procedería la devolución
      parcial de la reparación.
    </Parrafo>
    <Parrafo class="mb-2">
      En los casos de reparaciones de Apple Watch, no se puede ver el alcance de
      los daños del cristal hasta que se intente proceder a la reparación. Si
      como consecuencia del diagnóstico, al separar el cristal se termina de
      dañar la capa inferior, el cliente decidirá si decide reparar el terminal
      con el nuevo presupuesto que se facilite, no siendo posible el acogerse al
      presupuesto anterior, eximiéndose la empresa de cualquier responsabilidad
      como consecuencia de dicho diagnóstico, quedando el cliente informado. Si
      el cliente decide no seguir con la reparación tras no aceptar el
      diagnóstico de reparación de pantalla, se entrega el terminal con la
      pantalla separada.
    </Parrafo>
    <Parrafo class="mb-2">
      La apertura de terminales (tanto por diagnóstico como por reparación) con
      el cristal de la pantalla roto puede hacer que se dañe más, quedando la
      pantalla inutilizada y sin imagen, la empresa no se hará responsable de
      dichos daños, quedando el cliente informado.
    </Parrafo>
    <Parrafo class="mb-2">
      Si al abrir un terminal mojado o previamente manipulado (habiéndonos
      avisado el cliente o no) cualquiera de las funciones del terminal deja de
      estar operativa como consecuencia de la corrosión ocasionada en los
      conectores y en cualquier otro componente por la humedad previa, o como
      consecuencia de una manipulación previa incorrecta, la empresa no se hará
      responsable de dichos daños, siendo el cliente el responsable de si decide
      reparar o no el terminal con el nuevo presupuesto facilitado, quedando el
      cliente informado.
    </Parrafo>
    <Parrafo class="mb-2">
      Cualquier protección a líquidos que tuviera el terminal se perdería al
      abrirse el mismo para su diagnóstico o reparación.
    </Parrafo>
    <Parrafo class="mb-2">
      Si el cliente decide no seguir adelante con la reparación, tendrá que
      pagar el coste de la mano de obra invertida hasta el momento o en su
      defecto el coste de diagnóstico (19 € o 29 € en caso de terminales
      mojados) y se le avisará cuándo puede pasarse a recoger su terminal, que
      en ningún caso será en el momento, pues dependerá de la carga de trabajo
      que haya en ese momento.
    </Parrafo>
    <Parrafo class="mb-2">
      Si un cliente nos trae un terminal solicitando garantía pero tiene daños
      adicionales y hay que hacer un lavado de ultra sonidos, el cliente tendrá
      que abonar dicho servicio necesario para el diagnóstico del terminal. La
      garantía quedará anulada al haber sido expuesto a líquidos. La mensajería
      tendrá que abonarla también en caso de haberla solicitado.
    </Parrafo>
    <Parrafo class="mb-2">
      Si el cliente entrega un terminal con varias averías y decide sólo reparar
      lo mínimo para que quede funcional, la empresa no se responsabilizará de
      daños futuros ocasionados por no tener un terminal reparado en su
      totalidad en condiciones óptimas, como por ejemplo en no reparar elementos
      que afecten a la integridad estructural del terminal como puede ser un
      chasis.
    </Parrafo>
    <Parrafo class="mb-2">
      Los componentes de calidad compatible, al ser diferentes de los de calidad
      de fábrica, pueden carecer de algunas de las funcionalidades, de ahí su
      menor precio. Por ejemplo, si una pantalla de un modelo de teléfono tiene
      lector de huellas, puede que la pantalla de calidad compatible de ese
      modelo carezca de dicha función.
    </Parrafo>
    <Parrafo class="mb-2">
      Santifer iRepair se reservará el derecho de dejar teléfono de sustitución
      en aquellos casos que el cliente nos deje el teléfono para reparar, en
      ningún caso se dejará teléfono de sustitución si el cliente no nos entrega
      el teléfono a reparar.
    </Parrafo>
    <Parrafo class="mb-2">
      El terminal se diagnostica a posteriori de haber sido reparado, cualquier
      futura avería del terminal no será objeto de la presente garantía.
    </Parrafo>
    <Parrafo class="mb-2">
      Santifer iRepair no se responsabiliza de cualquier posible perdida de
      información en el terminal del cliente, siendo el cliente el responsable
      de hacer una copia de seguridad al terminal antes de traerlo a nuestro
      establecimiento.
    </Parrafo>
    <Parrafo class="mb-2">
      Santifer iRepair se reserva el derecho de aceptar un terminal el cual el
      cliente no quiera facilitarnos el código de bloqueo, dado que el no
      facilitarnos el código anula en gran medida la labor previa de diagnóstico
      y la posterior de comprobación de la reparación, no pudiendo asegurar la
      calidad del servicio solicitado.
    </Parrafo>
    <Parrafo class="mb-2">
      Santifer iRepair no se hará responsable de averías adicionales ocasionadas
      por un uso inadecuado de un terminal al que el pegado / sellado / sujeción
      necesarias para la apertura / reparación del terminal se haya debilitado
      (por motivos externos o internos a la reparación) pudiendo hacer que el
      terminal se dañe más. La única forma de validarle la garantía en tal caso
      es entregando el dispositivo sin continuar haciendo uso del mismo. En caso
      contrario, el uso continuado de un terminal en tal estado entraría en la
      categoría de uso indebido y no se validaría la garantía.
    </Parrafo>
    <Parrafo class="mb-2">
      Los terminales previamente manipulados (incluido terminales
      reacondicionados) sólo tendrán garantía en la reparación realizada,
      cualquier otra avería que surja en la apertura del terminal debido al mal
      estado en el que pueda estar, no será responsabilidad de Santifer iRepair,
      el cliente tendrá la responsabilidad de informar el estado previo en el
      que se encuentre el terminal.
    </Parrafo>
    <Parrafo class="mb-2">
      El cliente da un mandato de depósito por una validez de 1 mes desde la
      entrega a Santifer iRepair, a partir del primer día del segundo mes desde
      el día de la entrega por parte del cliente, el cual se compromete a pagar
      por gastos de depósito la cantidad de 3 euros diarios, autorizando
      igualmente a partir del cuarto mes desde el día de la entrega por parte
      del cliente, a su reciclado por parte de la empresa reparadora con total
      indemnidad para ella.
    </Parrafo>
    <Parrafo class="mb-2">
      Santifer iRepair es un centro de reparaciones externo y sin relación con
      las marcas reparadas, por tanto, cualquier apertura de un terminal por
      nuestra parte, pierde la garantía del fabricante. Además, si el cliente
      lleva el terminal al fabricante y éste detecta que el terminal ha sido
      abierto con anterioridad, negándole cualquier tipo de reparación, soporte
      o garantía, será única y exclusivamente responsabilidad del cliente.
    </Parrafo>
    <Parrafo class="mb-2">
      Los precios son los indicados físicamente en tienda, salvo cualquier error
      tipográfico que pudiera haber en la web.
    </Parrafo>
  </Seccion2>
</BaseLayout>
