---
import H3 from './H3.astro';

type Props = {
  clase?: string;
};

const { clase } = Astro.props;
---

<div
  class={`${clase} sm:flex-1 flex-col sm:basis-1/2 lg:basis-1/4 w-full flex items-center p-6`}
>
  <slot name="imagen" />
  <div class="mx-auto">

    <H3>
      <slot name="encabezado" />
    </H3>
    <p class="mt-4 mx-auto lg:w-10/12">
      <slot name="abc" />
    </p>
  </div>
</div>
