<div
  class="w-full flex px-4 sm:px-8 py-4 flex-col items-center justify-center text-center opacity-85"
>
  <h1 class="text-3xl sm:text-3xl text-center md:text-4xl text-black">
    <slot />
  </h1>
</div>
